hidden=[".config"]
modules = ["nodejs-20", "web", "bash"]
build = "bash support/install_deps.sh; bash support/make.sh"
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 8000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Build"
mode = "sequential"
author = 35417383

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash support/install_deps.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash support/make.sh"
