@font-face {
  font-family: PublicSans;
  src: url("/third_party/publicsans/fonts/otf/PublicSans-Regular.otf") format("opentype");
}

dialog {
  max-width: 500px;
  z-index: 1;
}

dialog h2 {
  margin-top: 0;
  padding-top: 5px;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 18px;
}

dialog label {
  font-weight: bold;
}

dialog .dialog-buttons {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 1px solid #C0C0C0;
}

dialog .form-group {
  margin-bottom: 15px;
}

dialog .form-group input {
  font-size: 13px;
}

dialog .form-group input.long {
  width: 90%;
}

dialog .form-group input.short {
  width: 100px;
}

dialog .instructions {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #C0C0C0;
  font-size: 12px;
}

dialog .contents .instructions {
  border-bottom: 1px dotted #C0C0C0;
  margin-top: 10px;
}

html {
  background-color: #F9F9F9;
  font-family: PublicSans;
  font-size: 15px;
}

header {
  margin-bottom: 40px;
}

main {
  background-color: white;
  padding: 15px;
  border: 1px solid #C0C0C0;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#buttons-panel {
  margin-top: 20px;
}

#buttons-panel #loading {
  display: none;
}

#buttons-panel a.primary, #buttons-panel a.primary:link, #buttons-panel a.primary:visited {
  background-color: #7070C0;
  color: white;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
}

#buttons-panel a.primary:focus, #buttons-panel a.primary:hover, #buttons-panel a.primary:active {
  background-color: #5050C0;
}

#code-editor .error-display {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #77eec6;
  background-color: #7fffd4;
  display: none;
}

#code-editor .inner {
  height: 650px;
  overflow: auto;
  border: 1px solid #C0C0C0;
  border-radius: 2px;
}

#editor-tabs {
  margin-bottom: 10px;
}

#results {
  display: none;
}

#results .center-chart {
  width: 100%;
  min-height: 100px;
}

#results .center-chart-holder bottom-chart-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

#results .center-chart-holder top-chart-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

#results .dimensions {
  margin-top: 10px;
}

#results .dimensions .dimension {
  border: 1px solid #C0C0C0;
  border-radius: 2px;
  padding: 3px;
}

#results .dimensions .dimension.inactive {
  background-color: #F5F5F5;
  color: #333;
}

#results .dimensions .dimension .axis {
  border-top: 1px dotted #C0C0C0;
  font-size: 12px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

#results .dimensions .dimension .axis .left-tick {
  text-align: left;
}

#results .dimensions .dimension .axis .units-tick-parent {
  text-align: center;
}

#results .dimensions .dimension .axis .right-tick {
  text-align: right;
}

#results .dimensions .dimension .list {
  height: 200px;
  overflow-y: auto;
  font-size: 12px;
}

#results .dimensions .dimension .list .list-line {
  height: 1px;
  margin-bottom: 5px;
}

#results .dimensions .dimension .title {
  text-align: center;
  border-bottom: 1px dotted #C0C0C0;
}

#results .scorecards {
  display: grid;
  grid-template-columns: 32% 2% 32% 2% 32%;
  margin-bottom: 10px;
}

#results .scorecards .scorecard {
  border: 1px solid #C0C0C0;
  border-radius: 2px;
  padding: 3px;
  text-align: center;
}

#results .scorecards .scorecard.inactive {
  background-color: #F5F5F5;
  color: #333;
}

#results .scorecards .scorecard .label {
  border-bottom: 1px dotted #C0C0C0;
}

#results .scorecards .scorecard .units {
  font-size: 12px;
}

#results .scorecards .scorecard .value {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.advanced-link-pane {
  margin-top: 10px;
  border-top: 1px dotted #C0C0C0;
  padding-top: 10px;
  text-align: center;
}

.bold-buttons a.primary, .bold-buttons a.primary:link, .bold-buttons a.primary:visited {
  background-color: #7070C0;
  color: white;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
}

.bold-buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bold-buttons a.primary:focus, .bold-buttons a.primary:hover, .bold-buttons a.primary:active {
  background-color: #5050C0;
}

.bold-buttons a.secondary, .bold-buttons a.secondary:link, .bold-buttons a.secondary:visited {
  border: 1px solid #7070C0;
  color: #7070C0;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
}

.bold-buttons a.secondary:focus, .bold-buttons a.secondary:hover, .bold-buttons a.secondary:active {
  color: white;
  background-color: #5050C0;
}

.item-list {
  list-style: none;
  padding-left: 0;
}

.item-list li {
  border-bottom: 1px dotted #C0C0C0;
}

.item-list .list-buttons {
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding-top: 2px;
}

.not-available-contents {
  display: none;
}

/* Thanks https://codepen.io/code-boxx/pen/RwxbpOz */

/* (A) BASICS - HIDE DEFAULT + SHOW CUSTOM ARROW */
.sel.long {
  width: 250px;
}

.sel.mid {
  width: 130px;
}

.sel.short {
  width: 50px;
}

.sel select { appearance: none; }
.sel::after { content: ">"; }

/* (B) DIMENSIONS */
/* (B1) WRAPPER - OPTIONAL */

/* (B2) "EXPAND" SELECT BOX */
.sel select {
  padding: 5px;
  color: #333;
  border: 1px solid #cfcfcf;
  padding-right: 25px;
  background-color: white;
}

.sel.long select {
  width: 250px;
}

.sel.mid select {
  width: 130px;
}

.sel.short select {
  width: 50px;
}

/* (C) POSITION CUSTOM ARROW */
/* (C1) REQUIRED FOR ABSOLUTE POSITION BELOW */
.sel { position: relative; }

/* (C2) DEFAULT - ARROW ON RIGHT SIDE */
.sel::after {
  position: absolute;
  top: 48%; right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* (D) COSMETICS */
/* (D1) CUSTOM ARROW IS ESSENTIALLY TEXT! */
.sel::after { font-size: 13px; color: #aaa; }

/* (D2) ROTATE ARROW ON HOVER */
.sel::after { transition: all 0.3s; }
.sel:hover::after {
  transform: translateY(-50%) rotate(90deg);
  color: #ff1212;
}

.ui-editor-sections {
  display: grid;
  grid-template-columns: 48% 4% 48%;
}

.ui-editor-sections .ui-editor-section {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
}

.ui-editor-sections .ui-editor-section h3 {
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-align: center;
}

.ui-editor-sections .ui-editor-section ul.item-list {
  height: 250px;
  overflow: auto;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ui-editor-sections .ui-editor-section .add-link-pane {
  text-align: center;
}

.ui-editor-sections .ui-editor-section.inactive {
  background-color: #F5F5F5;
}

.ui-editor-sections .ui-editor-section.inactive .add-link-pane {
  display: none;
}

@media (max-width: 999px) {
  #results .dimensions .dimension {
    margin-bottom: 10px;
  }

  #results {
    margin-top: 30px;
    border-top: 1px solid #C0C0C0;
  }
}

@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #results .dimensions {
    display: grid;
    grid-template-columns: 32% 2% 32% 2% 32%;
    margin-top: 10px;
  }

  #editor {
    padding-right: 10px;
  }

  #results {
    padding-left: 10px;
  }
}
