@font-face {
  font-family: PublicSans;
  src: url("/third_party/publicsans/fonts/otf/PublicSans-Regular.otf") format("opentype");
}

a, a:visited, a:link {
  color: #1010F0;
  text-decoration: underline;
}

a:hover, a:active {
  color: #0000A0;
}

a.primary, a.primary:link, a.primary:visited {
  background-color: #7070C0;
  color: white;
  border-radius: 10px;
  padding: 7px;
  text-decoration: none;
}

a.primary:focus, a.primary:hover, a.primary:active {
  background-color: #5050C0;
}

body {
  padding: 10px;
}

details {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #E0E0E0;
  padding: 7px;
  background-color: #FAFAFA;
  border-radius: 5px;
}

details summary {
  color: #1010F0;
  text-decoration: underline;
}

details summary:hover , details summary:active {
  cursor: pointer;
  color: #0000A0;
}

h1 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}

header {
  background-color: #F0F0F0;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}

html {
  height: 100%;
  width: 100%;
  min-width: 600px;
  font-family: PublicSans;
  background-color: #FFFFFF;
  color: #333;
}

pre {
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #505050;
  border-radius: 5px;
  padding: 5px;
  overflow-x: auto;
}

section {
  margin-top: 30px;
  border-top: 1px dotted #A0A0A0;
  padding-top: 30px;
}

.aside {
  background-color: #F0F0F0;
  border: 1px solid #E0E0E0;
  color: #333333;
  border-radius: 4px;
  padding: 8px;
}

.aside strong {
  color: black;
}

.form-input {
  margin-top: 15px;
}

.form-input input {
  width: 100%;
}

.form-input label {
  font-weight: bold;
}

.form-input textarea {
  width: 100%;
}

.hidden {
  display: none;
}

.loading {
  height: 14px;
}

.skip-link {
  top: -100px;
  left: 0;
  position: absolute;
}

.skip-link:focus {
  top: 10px;
  background: #E0E0E0;
  padding: 3px;
}

.status-display {
  display: none;
}

.status-display .title {
  font-weight: bold;
}

.tutorial-gif-holder {
  text-align: center;
}

.tutorial-gif-holder img {
  width: 500px;
  border: 2px solid #505050;
  border-radius: 3px;
}

table {
  border-collapse: collapse;
  border: 1px solid #C0C0C0;
}

table th,
table td {
  border: 1px solid #C0C0C0;
  text-align: left;
  padding: 5px;
}
